<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.xyt.Mapper.AdminMapper">
    <!--查询所有用户-->
    <select id="queryAdminList" resultType="Admin">
        select * from admin
    </select>

    <!--查询单个用户-->
    <select id="queryAdminById" resultType="Admin">
        select * from admin where Anu = #{arg0} and Apd = #{arg1}
    </select>

    <!--查询单个用户-->
    <select id="queryAdminByAnu" resultType="Admin">
        select * from admin where Anu = #{Anu}
    </select>
</mapper>