<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.xyt.Mapper.StudentMapper">
    <select id="queryStudentVo" resultType="StudentVo">
        select student.Sname,student.Ssex,student.Cnu,Tname,Dname,student.Sbirth,student.Sette,student.Scredit,student.Snu FROM student INNER JOIN class c on student.Cnu = c.Cnu INNER JOIN teacher t on c.Tnu = t.Tnu INNER join department d on c.Dnu = d.Dnu where Snu = #{Snu}
    </select>

</mapper>