<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.xyt.Mapper.StudentMapper">


    <resultMap id="resStudent" type="com.zj.xyt.Entity.Student">
        <!-- property指实体类 -->
        <id property="Snu" column="Snu"/>
        <result property="Sname" column="Sname"/>
        <result property="Ssex" column="Ssex"/>
        <result property="Sbirth" column="Sbirth"/>
        <result property="Scredit" column="Scredit"/>
        <result property="Sette" column="Sette"/>
        <result property="Cnu" column="Cnu"/>
        
    </resultMap>
    <!--查询所有学生-->
    <select id="queryStudentList" parameterType="String" resultType="com.zj.xyt.Entity.Student">
        select * from student
    </select>

    <!--查询学生的个人信息-->
    <select id="queryStudentVo" parameterType="String" resultType="com.zj.xyt.Entity.StudentVo">
        select student.Sname,student.Ssex,student.Cnu,t.Tname,d.Dname,c.Cname,student.Sbirth,student.Sette,student.Scredit,student.Snu FROM student INNER JOIN class c on student.Cnu = c.Cnu INNER JOIN teacher t on c.Tnu = t.Tnu INNER join department d on c.Dnu = d.Dnu where Snu = #{Snu}
    </select>

    <!--根据学生Snu查询学生信息-->
    <select id="queryStudentByID" parameterType="String" resultType="com.zj.xyt.Entity.Student">
        select * from student where Snu = #{arg0}
    </select>

    <!--注册学生账号-->
    <insert id="insertStudent" parameterType="com.zj.xyt.Entity.Student">
        insert into student values (#{Snu},#{Sette},#{Cnu},#{Sbirth},#{Ssex},#{Spd})
    </insert>

    <!--查询所有学生信息-->
    <select id="findList" parameterType="com.zj.xyt.Entity.Student" resultMap="resStudent">
        select * from student
    </select>
</mapper>